<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enuma Lens & Camera</title>
  <link rel="stylesheet" href="css/Enuma.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav container">
          <i class="bx bx-menu" id="menu-icon"></i>
          <a href="#" class="logo">Enuma<span>Lens</span></a>
          <ul class="navbar">
            <li><a href="#home" class="active" >Home</a></li>
            <li><a href="#camera">Camera</a></li>
            <li><a href="#lens">Lens</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#rent">Rent Form</a></li>
          </ul>
          
          <i class="bx bx-search" id="search-icon"></i>
          <div class="search-box container">
              <input type="search" name="" id="" placeholder="Cari disini....">
          </div>
        </div>
    </header>
</body>
<main>